@using ScrumMovieTheater.Models
@model List<Showtime>

<h2>Showtimes</h2>


<table class="table">
    <tr>
        <th>Movie</th>
        <th>Theater</th>
        <th>Time</th>
        <th>Price</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <a href="/Movies/Details/@item.MovieId">
                @item.Movie?.Title
            </a>
        </td>

        <td>
            @item.Theater?.Name
        </td>

        <td>
            @item.TimeSlot
        </td>

        <td>
            @item.Price
        </td>
    </tr>
}
</table>