@model TheaterViewModel
<div class="container">
    <h1>Welcome to the Theater!</h1>
    <p>Enjoy the latest movies and shows at our theater.</p>

    <div class="row">

        <div class="col-md-6"> 
            <h2>Now Showing in the Dallas Theater</h2>
            <ul>
                <li>GhostBusters</li>
                <li>Titanic</li>
                <li>Zootopia</li>
            </ul>
        </div>
    </div>

        <div class="col-md-6">

            <table>
                <thead>
                    <tr>
                        <th>Movie</th>
                        <th>Showtimes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GhostBusters</td>
                        <td>1:00 PM, 4:00 PM, 7:00 PM</td>
                    </tr>
                    <tr>
                        <td>Titanic</td>
                        <td>2:00 PM, 5:00 PM, 8:00 PM</td>
                    </tr>
                    <tr>
                        <td>Zootopia</td>
                        <td>12:00 PM, 3:00 PM, 6:00 PM</td>
                    </tr>
                </tbody>
            </table>

        </div> 

</div>
