.ticket-date-container {
    margin-top: 20px
}

.ticket-container {
    border-style: solid;
    border-color: black;
    margin-top: 10px;
}

.parent-row {
    border-style: solid;
    border-color: green
}

.child-row {
    border-style: solid;
    border-color: blue;
}

.row span {
    display: inline-block;
    margin-right: 15px;
}
