@{
    ViewData["Title"] = "New Movie View";
}

<div class="container py-5">
    <h1 class="display-6 mb-3">New Movie View</h1>
    <p class="lead mb-0">This page is being rendered by MoviesController.NewView().</p>
</div>