@{
    ViewData["Title"] = "Admin Home";
}

<h2>Admin Area - Home</h2>
<p>Welcome to the Admin area.</p>

<a asp-area="Admin" asp-controller="Movie" asp-action="AddMovie"> Add A Movie</a>
<button>Edit A Movie</button>
<button>Delete A Movie</button>
