@{
    ViewData["Title"] = "Admin Home";
}

<h2>Admin Area - Home</h2>
<p>Welcome to the Admin area.</p>

<a asp-area="Admin" asp-controller="AdminMovie" asp-action="AddMovie">Add A Movie</a>
<br />
<a asp-area="Admin" asp-controller="AdminMovie" asp-action="EditMovie">Edit A Movie</a>
<br />
<a asp-area="Admin" asp-controller="AdminMovie" asp-action="Manager">Ibrahim's Movie Theater Manager</a>
<br />
<a asp-area="Admin" asp-controller="Home" asp-action="Login">Login</a><br />